/* font start */

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Medium.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-SemiBold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Light.otf');
    font-weight: lighter;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-ExtraBold.otf');
    font-weight: 900;
}


/* font end */