@charset "UTF-8";
@import url('../fonts/font.css');
*, body, html {
    font-family: 'Metropolis';
    scroll-behavior: smooth;
    font-weight: 500;
    outline: none;
}

.btn:focus, .form-control:focus {
    box-shadow: none !important;
}

.bg-brand-blue {
    background-color: #4285F4;
}

.bg-grey {
    background-color: #F2F3F5;
}

.f14-size {
    font-size: 14px;
}

.btn-round-10 {
    border-radius: 10px;
}

.gr-gredient {
    background: linear-gradient(269.89deg, #2AD5C4 0%, #D6D600 100%);
    box-shadow: 0px 6.66667px 26.6667px rgba(0, 0, 0, 0.1);
}

.gr-gredient2 {
    background: linear-gradient(268.74deg, #2AD5C4 -11.47%, #D6D600 205.05%);
}

.gr-gredient3 {
    background: linear-gradient(275.16deg, #2AD5C4 -73.91%, #D6D600 91.71%);
}

.font-semi {
    font-weight: 600;
}

.nav-shadow-bottom {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.font-bolder {
    font-weight: 600;
}

.text-black {
    color: #000 !important;
}

.text-grey {
    color: #9A9EA3;
}

.font-med {
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    margin:0 5px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    background: #E4E4E4;
    border-radius: 10px;
    font-weight: 700;
}

.flex-1 {
    flex: 1;
}

.searchbar-custom {
    background: #F5F5F5;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 40px;
    padding-left: 20px;
    padding-right: 47px;
    border: 1px solid #efefef;
}

.searchbar-custom::placeholder, .searchbar-custom {
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    font-weight: 600;
}

.theme-light-btn {
    background: #0BA1FF;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 175px;
}

.f20-size {
    font-size: 20px;
}

.font-boldest {
    font-weight: 900;
}

.color-grey {
    color: #989898;
}

.object-fit-cover {
    object-fit: cover;
}

.radius10 {
    border-radius: 10px;
}

.text-overflow-style {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.f16-size {
    font-size: 16px;
}

.f12-size {
    font-size: 12px;
}

.radius4 {
    border-radius: 4px;
}

.color-link {
    color: #7236DF;
}

.f15-size {
    font-size: 15px;
}

.h-box-fixed {
    height: 455px;
    overflow-y: auto;
}

.h-box-fixed::-webkit-scrollbar {
    width: 8px;
}

.h-box-fixed::-webkit-scrollbar-track {
    border-radius: 10px;
}

.h-box-fixed::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
}

.h-box-fixed::-webkit-scrollbar-thumb:hover {
    background: #C4C4C4;
}

.other-assets img {
    height: 164px;
}

.h-38px {
    height: 38px;
}

.bg-theme-skygreen {
    background: #2AD5C4;
}

.upload-trigger-circled label {
    width: 55px;
    height: 55px;
    box-shadow: 0px 6.66016px 19.9805px rgba(0, 0, 0, 0.14);
}

.upload-trigger-circled label:not(.grey-circle) {
    background: linear-gradient(269.89deg, #2AD5C4 0%, #D6D600 100%);
}

.upload-trigger-circled label.grey-circle {
    background: #CECECE;
}

.layer-border-circle {
    width: 65px;
    height: 65px;
    border: 1.66504px dashed rgba(0, 0, 0, 0.25);
}

.added-logos {
    width: fit-content;
    height: 100px;
    border-radius: 14.9756px;
}

.added-Palette {
    width: 100.68px;
    height: 70px;
}

.font-bold {
    font-weight: 700;
}

.w-fit-content {
    width: fit-content;
}

.f13-size {
    font-size: 13px;
}

.radiusBottom10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box-project-body {
    height: 350px;
    overflow-y: auto;
}

.font-large {
    font-size: 55px;
}

.f22-size {
    font-size: 25px;
}

.h-50px {
    height: 50px;
}

.text-brand-grey {
    color: #484848;
}

.seprator-after-column:after {
    content: 'OR';
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    border-right: 1px solid #4285F4;
    display: flex;
    align-items: center;
    color: #4285F4;
    font-weight: 900;
    font-size: 20px;
    padding-left: 3px;
}

.h-40px {
    height: 40px;
}

.radius6 {
    border-radius: 6px;
}

.bg-grey-c {
    background: #C4C4C4;
}

.h-35px {
    height: 35px;
}

.resize-none {
    resize: none;
}

.border-dashed {
    border: 1px dashed #7236DF;
}

.border-dashblue {
    border: 1px solid #7236DF;
}

.radius8 {
    border-radius: 8px;
}

.asset-c-row img {
    height: 180px;
}

.f-30px {
    font-size: 30px;
}

.black-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.bg-light-white {
    background-color: #F5F5F5;
}

.box-shadow {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
}

.no-icon button:after {
    display: none;
}

.custiom-dropdown button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.border-dark {
    border: 1px solid #b0b0b0;
}

.f25-size {
    font-size: 25px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #b0b0b0;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.f10-size {
    font-size: 10px;
}

.text-blue {
    color: #001AFF;
}

#profileModal .modal-content {
    box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.56);
    border-radius: 15px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.slider_Assets .slick-arrow {
    background: #fff !important;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    border: 3px solid #F0F0F0;
    z-index:1;
    top:41%;
}
.sliderMainHome .slick-next{
    right:10px !important;
}
.slick-slider:not(.sliderMainHome) .slick-next{
    transform:translate(0, 0 ) !important;
}
.slick-prev:before , .slick-next:before {
    content: '⟩' !important;
    color: #000 !important;
    font-weight:900;
    font-size:25px !important;
}
.sliderMainHome .slick-prev{
    left:10px !important;
}
.slick-prev{
    transform: rotate( -180deg) !important;
}
.slider_Assets .slick-arrow.slick-disabled{
    display:none !important;
} 
.slick-track{
  margin-left:0px !important;
  margin-right:0px !important;
}
@media(min-width:1200px){
    .col-xl-2-5 {
        flex: 0 0 auto;
        width: 20%;
    }
        
}
@media(min-width:1274px){
    .justify-content-uplg-between{
        justify-content:space-between;
    }
}
@media(max-width:1273px){
    .mb-underlg-15{
        margin-bottom:15px;
    }
}
.dropdown-hover-item .dropdown-item:hover a
,.dropdown-hover-item .dropdown-item:hover button{
    color: #376DF9 !important;
}
.btn-circle{
    border-radius:20px;
}
.btn-theme-outline-primary{
    border:1px solid #376DF9;
}
.h-100vertical{
    height:100vh;
}
.radius16{
    border-radius:16px;
}
.radius20{
    border-radius:20px;
}
.sliderMyProject .slick-dots li button:before{
    font-size:10px;
    color:#999999;
    opacity:100%;
}
.sliderMyProject .slick-dots li.slick-active button:before{
    font-size:13px;
    color:#999999;
}
 .tui-image-editor-header-logo{
   display:none !important;
}
.editable-text:hover .font-editable-bar{
    display:block !important;
}
.cursor-pointer{
    cursor:pointer;
}
.text-white-shadow{
    text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, 
    -1px 0px 0px #ffe, 1px -1px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff,
    1px 1px 0px #fff;
    -webkit-text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, 
    -1px 0px 0px #ffe, 1px -1px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff,
    1px 1px 0px #fff;
    -moz-text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, 
    -1px 0px 0px #ffe, 1px -1px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff,
    1px 1px 0px #fff;
    -o-text-shadow: -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, 
    -1px 0px 0px #ffe, 1px -1px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff,
    1px 1px 0px #fff;
}
.black-overlay-layer:before{
  content:attr(data-for);
  width:100%;
  height:100%;
  position: absolute;
  background:rgba(0, 0, 0, 0.5);
  top:0;
  left:0;
  color:#fff;
  display: flex;
  align-items: flex-end;
  padding:15px;
  font-size:18px;
} 
.package-detail .package-title{
  min-height:208px;
}
.package-detail ul{
    min-height:378px;
}