@charset "utf-8";
.field-float-group .input-group-float {
    position: relative;
}

.field-float-group input {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.20);
    box-sizing: border-box;
    border-radius: 6px;
    height: 45px;
}

.field-float-group input:focus {
    outline: none;
}

.field-float-group label {
    color: #000;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 13px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.field-float-group input:focus~label, .field-float-group input:valid~label {
    top: -10px;
    font-size: 12px;
    color: #000;
    font-weight: 900;
    letter-spacing: 1px;
    background: #fff;
}

.field-float-group .bar {
    position: relative;
    display: block;
    width: 315px;
}

.field-float-group .bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.field-float-group input:focus~.bar:before, .field-float-group input:focus~.bar:after {
    width: 50%;
}

.field-float-group .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.auth-btn {
    width: 245px;
    height: 61px;
    background: #0BA1FF;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
}