@charset "UTF-8";
@import url('../../fonts/font.css');
*, body, html {
  font-family: 'Montserrat';
  scroll-behavior: smooth;
  font-weight: 500;
}

html {
  overflow-x: hidden;
  height: 100%;
}

input, button, textarea, select {
  outline: none;
}

.h-100vh {
  height: 100vh;
}

.overlay-black:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

.transparent-bg-black {
  background-color: rgb(0, 0, 0, 0.5);
}

.font-bolder {
  font-weight: 900 !important;
}

.brand-name {
  font-size: 21px;
  letter-spacing: 1px;
}

.f-19-size {
  font-size: 19px;
}

.b4radius {
  border-radius: 4px;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

@-moz-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

@-ms-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

@-o-keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100vw 0;
  }
}

.bg-slide-anim {
  animation: animatedBackground 20s linear infinite;
  -moz-animation: animatedBackground 20s linear infinite;
  -webkit-animation: animatedBackground 20s linear infinite;
  -ms-animation: animatedBackground 20s linear infinite;
  -o-animation: animatedBackground 20s linear infinite;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.form-header {
  font-weight: 700;
}

.rounded-form {
  box-shadow: 0px 4px 47px rgba(0, 0, 0, 0.56);
  border-radius: 15px;
}

.field-float-group .input-group-float {
  position: relative;
}

.field-float-group input {
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.20);
  box-sizing: border-box;
  border-radius: 6px;
  height: 45px;
}

.field-float-group input:focus {
  outline: none;
}

.field-float-group label {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 13px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.field-float-group input:focus~label, .field-float-group input:valid~label {
  top: -10px;
  font-size: 12px;
  color: #000;
  font-weight: 900;
  letter-spacing: 1px;
  background: #fff;
}

.field-float-group .bar {
  position: relative;
  display: block;
  width: 315px;
}

.field-float-group .bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.field-float-group input:focus~.bar:before, .field-float-group input:focus~.bar:after {
  width: 50%;
}

.field-float-group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.f12-size {
  font-size: 12px;
}

.f13-size {
  font-size: 13px;
}

.bg-light-blue {
  background: #0ba1ff;
}

.auth-btn {
  width: 245px;
  height: 61px;
  background: #0BA1FF;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-size: 18px;
  font-weight: 700;
}

.font-medium {
  font-weight: 600;
}

.f14-size {
  font-size: 14px;
}

.f15-size {
  font-size: 15px;
}

.sub-heading-form p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-family: poppins;
}

.bg-grey-light {
  background-color: #f5f5f5;
}

.border-custom {
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.radio-ele-list li:nth-child(2), .radio-ele-list li:nth-child(1) {
  border-right: 1px solid #e1e1e1;
}

.radio-ele-list input:checked~label {
  background: #0BA1FF;
  color: #fff;
}

.radio-ele-list label {
  width: 100%;
  font-weight: 600;
}

.radio-ele-list li {
  margin-right: 0px !important;
}

.br-radius6 {
  border-radius: 6px;
  overflow: hidden;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
}